<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bramestorm.bassanglertracker">

    <!-- AndroidManifest.xml for Catch and Call (Manual Mode)
    - Locks all activities to portrait
    - Uses tools:ignore to suppress orientation lint warnings
    - Includes all user input pages, tournament popups, training, and map/sharing -->

                <!--Permissions List-->
    <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Internet & Audio -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- Alarm Permission -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BassAnglerTracker">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDk_AhWI1MnCwFWAVfowN_KlwdV592LtPc" />



        <!-- All Activities Here -->

        <!-- Splash Page with Catch and Call Logo -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity
            android:name=".IntroPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Directory of All Activities  -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BassAnglerTracker"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />


        <!-- Set Up Days Fishing Activity -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".SetUpActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <!-- User can select species for list and can add species to list -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".activities.AllSpeciesSelectionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Users can arrange the positioning of the 8 on the species list -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".activities.SpeciesSelectionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <!-- Fun Day Catch Entry Pages -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".CatchEntryLbsOzs"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".CatchEntryKgs"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".CatchEntryInches"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".CatchEntryMetric"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <!-- Tournament Fishing Activity -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".CatchEntryTournament"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".CatchEntryTournamentKgs"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".CatchEntryTournamentInches"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".CatchEntryTournamentCentimeters"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <!-- Referral to web PDF How To Pages -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".training.UserTrainingIndex"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".training.UserTrainingVoiceCommands"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".training.TrainingWords"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <!-- Tournament Popups for User Input -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".PopupWeightEntryTourKgs"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".PopupWeightEntryTourLbs"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".PopupLengthEntryTourInches"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".PopupLengthEntryTourCms"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <!-- Fun Day Popups for User Input -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".PopupWeightEntryKgs"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".PopupWeightEntryLbs"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".PopupLengthEntryInches"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".PopupLengthEntryMetric"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>


        <!-- Looking Up Catch Locations -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".MapCatchLocationsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Share all Catch Data  -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".ShareFishingLogsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Get the Top 5 Catches -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".TopFiveCatchesActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <!-- Share Specific Data with CSV files -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".LookUpShareDataActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>



        <!-- For all ALARMS of Tournament pages -->
        <!-- Suppress: Letterboxing warning for fixed portrait (intended design) -->
        <activity android:name=".PopUpAlarm"
            android:theme="@style/Theme.BassAnglerTracker"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".alarm.AlarmReceiver" />

    </application>

    </manifest>