<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bramestorm.bassanglertracker">

    
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BassAnglerTracker">

            <!-- All Activities here -->

        <activity
            android:name=".IntroPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BassAnglerTracker" />


        <activity android:name=".SetUpActivity"/>

        <activity android:name=".activities.AllSpeciesSelectionActivity" />
        <activity android:name=".SpeciesSelectionActivity" />


        <activity android:name=".CatchEntryLbsOzs"/>
        <activity android:name=".CatchEntryKgs"/>
        <activity android:name=".CatchEntryInches"/>
        <activity android:name=".CatchEntryMetric"/>

        <activity android:name=".CatchEntryTournament"/>
        <activity android:name=".CatchEntryTournamentKgs"/>
        <activity android:name=".CatchEntryTournamentInches"/>
        <activity android:name=".CatchEntryTournamentCentimeters"/>

        <activity android:name=".training.UserTrainingIndex"/>
        <activity android:name=".training.UserTrainingVoiceCommands"/>
        <activity android:name=".training.TrainingWords"/>

        <activity android:name=".PopupWeightEntryTourKgs"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".PopupWeightEntryTourLbs"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".PopupLengthEntryTourInches"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".PopupLengthEntryTourCms"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".PopupWeightEntryKgs"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".PopupWeightEntryLbs"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".PopupLengthEntryInches"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".PopupLengthEntryMetric"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".PopUpAlarm"
            android:theme="@style/Theme.BassAnglerTracker"
            android:windowSoftInputMode="adjustResize"/>




    </application>

    </manifest>